* {
    margin: 0;
    padding: 0;
}

*:focus:not(:focus-visible),
input:focus:not(:focus-visible) {
    outline: 0;
}

*:focus-visible,
input:focus-visible {
    outline: 3px solid blue;
}

body {
    margin: 0;
    font-family: Lato;
    background-color: #fff;
}

.container {
    width: 100%;
}